<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.umeta.prototype">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ItemEntryActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".PropertyInputActivity" />
        <activity android:name=".ItemCheckActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".WearReportActivity" />
        <activity android:name=".Search.ItemSearchActivity" />
        <activity android:name=".Search.SearchResultActivity" />
        <activity android:name=".ItemObjectActivity"></activity>
    </application>

</manifest>